In [3]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_1.csv')
df.head()

,Unnamed: 0,price,address,rooms,area,kitchen_area,floor,renovation,deal_type,balcony,...,years_in_ownership,number_of_owners,energy_efficiency_class,power_supply,number_of_elevators,ventilation,freight_elevator,gas_supply,latitude,longitude
0,0,4500000,"Владивосток, Некрасовская улица, 52",1.0,22.6,3.0,3.0,Косметический,Свободная продажа,нет,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.122565,131.907848
1,1,10000000,"Владивосток, улица Нейбута, 139",3.0,75.4,5.0,6.0,Евро,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118957,131.968481
2,2,6650000,"Владивосток, улица Лесная, 3д",1.0,31.6,5.0,2.0,Отсутствует,Альтернатива,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.183735,131.925201
3,3,11000000,"Владивосток, улица Леонова, 54к",2.0,47.0,3.1,6.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.086209,131.854930
4,4,4900000,"Владивосток, Зелёный Бульвар, улица Зелёный Бу...",1.0,24.1,3.0,16.0,Отсутствует,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.118827,131.970732

In [4]:
def transform_renovation(value):
    if pd.isna(value):
        return np.random.choice([0, 1]) 
    elif value == "Отсутствует":
        return 0
    else:
        return 1

df['renovation'] = df['renovation'].apply(transform_renovation)

In [8]:
def transform_deal_type(value):
    if pd.isna(value):
        return np.random.choice([0, 1])  
    elif value == "Свободная продажа":
        return 1
    elif value == "Альтернатива":
        return 0
    else:
        return np.random.choice([0, 1])  

df['deal_type'] = df['deal_type'].apply(transform_deal_type)

In [13]:
def transform_balcony(value):
    if pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    elif value == "нет":
        return 0
    else:
        return 1

df['balcony'] = df['balcony'].apply(transform_balcony)

In [16]:
def transform_trash_chute(value):
    if pd.isna(value) and np.random.rand() < 0.4:
        return np.nan
    elif pd.isna(value):
        return int(np.clip(np.round(np.random.normal(0.5, 0.2)), 0, 1))
    else:
        return 1 

df['trash_chute'] = df['trash_chute'].apply(transform_trash_chute)

In [17]:
df['trash_chute'].unique()

array([ 1., nan,  0.])

In [15]:
df['trash_chute'].unique()

array(['есть', nan], dtype=object)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         120 non-null    int64
 1   price                              120 non-null    int64
 2   address                            120 non-null    object
 3   rooms                              101 non-null    float64
 4   area                               107 non-null    float64
 5   kitchen_area                       89 non-null     float64
 6   floor                              107 non-null    float64
 7   renovation                         120 non-null    int64
 8   deal_type                          120 non-null    int64
 9   balcony                            120 non-null    int64
 10  trash_chute                        83 non-null     float64
 11  Год постройки                      107 non-null    float64
 12  Серия дома                         43 non-null     object
 13  Количество этажей                  116 non-null    float64
 14  Лифт                               48 non-null     object
 15  Тип перекрытий                     102 non-null    object
 16  Тип фундамента                     57 non-null     object
 17  Горячее водоснабжение              78 non-null     object
 18  Количество балконов                84 non-null     float64
 19  Количество квартир                 28 non-null     float64
 20  Холодное водоснабжение             37 non-null     object
 21  Теплоснабжение                     19 non-null     object
 22  Водоотведение                      4 non-null      object
 23  Количество подъездов               1 non-null      float64
 24  Жилая                              4 non-null      object
 25  years_in_ownership                 3 non-null      object
 26  number_of_owners                   1 non-null      float64
 27  energy_efficiency_class            17 non-null     object
 28  power_supply                       9 non-null      object
 29  number_of_elevators                5 non-null      float64
 30  ventilation                        2 non-null      object
 31  freight_elevator                   2 non-null      object
 32  gas_supply                         1 non-null      object
 33  latitude                           111 non-null    float64
 34  longitude                          111 non-null    float64
 35  wall_material_Блочный              120 non-null    bool
 36  wall_material_Железобетон          120 non-null    bool
 37  wall_material_Кирпично-монолитный  120 non-null    bool
 38  wall_material_Кирпичный            120 non-null    bool
 39  wall_material_Монолитно-кирпичный  120 non-null    bool
 40  wall_material_Монолитный           120 non-null    bool
 41  wall_material_Панельный            120 non-null    bool
 42  wall_material_Смешанные            120 non-null    bool
dtypes: bool(8), float64(14), int64(5), object(16)
memory usage: 33.9+ KB

In [23]:
if 'Материал стен' in df.columns:
    df = pd.get_dummies(df, columns=['Материал стен'], prefix='wall_material')

In [26]:
if 'balcony' in df.columns and 'количество балконов' in df.columns:
    df.loc[(df['balcony'] == 0) & (df['количество балконов'].notna()) & (df['количество балконов'] != 0), 'balcony'] = 1

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         120 non-null    int64
 1   price                              120 non-null    int64
 2   address                            120 non-null    object
 3   rooms                              101 non-null    float64
 4   area                               107 non-null    float64
 5   kitchen_area                       89 non-null     float64
 6   floor                              107 non-null    float64
 7   renovation                         120 non-null    int64
 8   deal_type                          120 non-null    int64
 9   balcony                            120 non-null    int64
 10  trash_chute                        83 non-null     float64
 11  Год постройки                      107 non-null    float64
 12  Серия дома                         43 non-null     object
 13  Количество этажей                  116 non-null    float64
 14  Лифт                               48 non-null     float64
 15  Тип перекрытий                     102 non-null    object
 16  Тип фундамента                     57 non-null     object
 17  Горячее водоснабжение              78 non-null     object
 18  Количество балконов                84 non-null     float64
 19  Количество квартир                 28 non-null     float64
 20  Холодное водоснабжение             37 non-null     object
 21  Теплоснабжение                     19 non-null     object
 22  Водоотведение                      4 non-null      object
 23  Количество подъездов               1 non-null      float64
 24  Жилая                              4 non-null      object
 25  years_in_ownership                 3 non-null      object
 26  number_of_owners                   1 non-null      float64
 27  energy_efficiency_class            17 non-null     object
 28  power_supply                       9 non-null      object
 29  number_of_elevators                5 non-null      float64
 30  ventilation                        2 non-null      object
 31  freight_elevator                   2 non-null      object
 32  gas_supply                         1 non-null      object
 33  latitude                           111 non-null    float64
 34  longitude                          111 non-null    float64
 35  wall_material_Блочный              120 non-null    bool
 36  wall_material_Железобетон          120 non-null    bool
 37  wall_material_Кирпично-монолитный  120 non-null    bool
 38  wall_material_Кирпичный            120 non-null    bool
 39  wall_material_Монолитно-кирпичный  120 non-null    bool
 40  wall_material_Монолитный           120 non-null    bool
 41  wall_material_Панельный            120 non-null    bool
 42  wall_material_Смешанные            120 non-null    bool
dtypes: bool(8), float64(15), int64(5), object(15)
memory usage: 33.9+ KB

In [34]:
if 'Лифт' in df.columns:
    df['Лифт'] = df['Лифт'].apply(lambda x: 1 if x == 'есть' else x)

In [36]:
df['Тип перекрытий'].unique()

array(['Железобетонный', nan, 'Монолитный', 'Смешанный', 'Иное',
       'Деревянный'], dtype=object)

In [30]:
df

,Unnamed: 0,price,address,rooms,area,kitchen_area,floor,renovation,deal_type,balcony,...,latitude,longitude,wall_material_Блочный,wall_material_Железобетон,wall_material_Кирпично-монолитный,wall_material_Кирпичный,wall_material_Монолитно-кирпичный,wall_material_Монолитный,wall_material_Панельный,wall_material_Смешанные
0,0,4500000,"Владивосток, Некрасовская улица, 52",1.0,22.6,3.0,3.0,1,1,0,...,43.122565,131.907848,False,False,False,False,False,False,True,False
1,1,10000000,"Владивосток, улица Нейбута, 139",3.0,75.4,5.0,6.0,1,1,0,...,43.118957,131.968481,False,False,False,False,False,True,False,False
2,2,6650000,"Владивосток, улица Лесная, 3д",1.0,31.6,5.0,2.0,0,0,0,...,43.183735,131.925201,False,False,False,True,False,False,False,False
3,3,11000000,"Владивосток, улица Леонова, 54к",2.0,47.0,3.1,6.0,0,0,1,...,43.086209,131.854930,False,False,False,False,False,True,False,False
4,4,4900000,"Владивосток, Зелёный Бульвар, улица Зелёный Бу...",1.0,24.1,3.0,16.0,0,0,0,...,43.118827,131.970732,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,5000000,"Владивосток, улица Успенского, 18",NaN,NaN,NaN,NaN,1,1,0,...,43.232924,132.012663,False,False,False,False,False,False,False,False
116,116,11650000,"Владивосток, улица Басаргина, 6Бк",2.0,54.9,8.0,6.0,1,1,1,...,43.075123,131.962042,False,False,False,True,False,False,False,False
117,117,6500000,"Владивосток, улица Борисенко, 108",NaN,NaN,NaN,NaN,0,0,1,...,43.092071,131.961957,False,False,False,False,False,False,True,False
118,118,7000000,"Владивосток, Светланская улица, 209",2.0,53.7,NaN,4.0,0,0,0,...,43.112997,131.933747,False,False,False,True,False,False,False,False
119,119,7200000,"Владивосток, Фрегат, улица Ватутина, 4в",1.0,39.7,11.7,2.0,1,1,1,...,NaN,NaN,False,False,False,False,False,True,False,False

In [40]:
if 'address' in df.columns:
    df.drop(columns=['address'], inplace=True)

if 'Unnamed:0.1' in df.columns:
    df.drop(columns=['Unnamed:0.1'], inplace=True)

if 'Unnamed:0' in df.columns:
    df.drop(columns=['Unnamed:0'], inplace=True)

In [39]:
df.to_csv('data_3.csv')